/* Estilos globales básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Estilos del Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #222;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

/* Estilos de la navegación */
.navigation ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  color: #00bcd4;
}